---

- name: Ubuntu | Install hpfeeds-logger-splunk dependencies
  apt: name={{item}} state=present update_cache=yes cache_valid_time=3600
  with_items:
    - git
    - python-pip
    - python-dev
    - libgeoip-dev
    - python-virtualenv
    - supervisor
  when: ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu'

- name: yum | Install hpfeeds-logger-splunk dependencies
  yum: name={{item}} state=present update_cache=yes
  with_items:
    - git
    - python-pip
    - python-virtualenv
    - supervisor
    - GeoIP-devel
  when: ansible_os_family == "RedHat" or ansible_distribution == 'CentOS' or ansible_distribution == 'Red Hat Enterprise Linux'

- include: hpfeeds-logger.yml

- name: configure IDENT
  set_fact:
    IDENT: hpfeeds-logger-splunk
- name: check if existing configuration
  stat: path=/root/.mhn_{{ IDENT }}
  register: sstat
- name: create a secret
  shell: "python -c 'import uuid;print str(uuid.uuid4()).replace(\"-\",\"\")' | tee /root/.mhn_{{ IDENT }}"
  when: not sstat.stat.exists
  no_log: "{{ mhn_no_log }}"
- name: recover existing hpfeeds secret
  command: "cat /root/.mhn_{{ IDENT }}"
  register: SECRET
  changed_when: false
  no_log: "{{ mhn_no_log }}"
- name: configure CHANNELS
  set_fact:
    CHANNELS: 'amun.events,dionaea.connections,dionaea.capture,glastopf.events,beeswarm.hive,kippo.sessions,cowrie.sessions,,conpot.events,snort.alerts,suricata.events,wordpot.events,shockpot.events,p0f.events,elastichoney.events'

- name: enable hpfeeds json for splunk
  template: src=splunk.splunk dest=/opt/hpfeeds-logger/splunk.json mode=0600

- name: add hpfeeds broker user for json splunk
  command: '/opt/hpfeeds/env/bin/python /opt/hpfeeds/broker/add_user.py "{{ IDENT }}" "{{ SECRET.stdout }}" "" "{{ CHANNELS }}"'

- name: configure hpfeeds-logger-splunk in supervisor
  template: src=hpfeeds-logger-splunk.conf dest=/etc/supervisor/conf.d/hpfeeds-logger-splunk.conf mode=0644
  notify:
    - supervisor update


