---

- name: Ubuntu | Install hpfeeds-logger-json dependencies
  apt: name={{item}} state=present update_cache=yes cache_valid_time=3600
  with_items:
    - git
    - python-pip
    - python-dev
    - libgeoip-dev
    - python-virtualenv
    - supervisor
  when: ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu'

- name: yum | Install hpfeeds-logger-json dependencies
  yum: name={{item}} state=present update_cache=yes
  with_items:
    - git
    - python-pip
    - python-virtualenv
    - supervisor
    - GeoIP-devel
  when: ansible_os_family == "RedHat" or ansible_distribution == 'CentOS' or ansible_distribution == 'Red Hat Enterprise Linux'

- include: hpfeeds-logger.yml

- name: configure IDENT
  set_fact:
    IDENT: hpfeeds-logger-json
- name: check if existing configuration
  stat: path=/root/.mhn_{{ IDENT }}
  register: sstat
- name: create a secret
  shell: "python -c 'import uuid;print str(uuid.uuid4()).replace(\"-\",\"\")' | tee /root/.mhn_{{ IDENT }}"
  when: not sstat.stat.exists
  no_log: "{{ mhn_no_log }}"
- name: recover existing hpfeeds secret
  command: "cat /root/.mhn_{{ IDENT }}"
  register: SECRET
  changed_when: false
  no_log: "{{ mhn_no_log }}"
- name: configure CHANNELS
  set_fact:
    CHANNELS: 'amun.events,dionaea.connections,dionaea.capture,glastopf.events,beeswarm.hive,kippo.sessions,cowrie.sessions,,conpot.events,snort.alerts,suricata.events,wordpot.events,shockpot.events,p0f.events,elastichoney.events'


- name: enable hpfeeds json
  template: src=json.json.j2 dest=/opt/hpfeeds-logger/json.json mode=0600

- name: check if adduser marker
  stat: path="/root/.mhn_{{ IDENT }}_add_user"
  register: adduser
- name: add hpfeeds broker user for json
  command: '/opt/hpfeeds/env/bin/python /opt/hpfeeds/broker/add_user.py "{{ IDENT }}" "{{ SECRET.stdout }}" "" "{{ CHANNELS }}"'
  when: not adduser.stat.exists
- name: add adduser marker
  file: dest="/root/.mhn_{{ IDENT }}_add_user" state=touch
  when: not adduser.stat.exists

- name: configure hpfeeds-logger-json in supervisor
  template: src=hpfeeds-logger-json.conf.j2 dest=/etc/supervisor/conf.d/hpfeeds-logger-json.conf mode=0644
  notify:
    - supervisor update


