#!/bin/sh
## https://github.com/threatstream/mhn/wiki/Backing-Up-and-Restoring-MHN

export PATH=/usr/sbin:/usr/bin:/sbin:/bin
umask 022

date=`date +%Y-%m-%d`
dst={{ backupdir }}/{{ ansible_fqdn }}
[ ! -d $dst ] && mkdir -p "$dst"
f=$dst/backup-$date-mhn-mongodump.tar.gz

supervisorctl stop all
mongodump --db hpfeeds -o $dst/mongodump
mongodump --db mnemosyne -o $dst/mongodump

tar czf $f $dst/mongodump {{ MHN_HOME }}/server/mhn.db
tar tzf $f > /dev/null
openssl dgst -sha512 $f > $f.distinfo

rm -R $dst/mongodump
supervisorctl start all

