#command[check_procs_supervisor]=/usr/lib/nagios/plugins/check_procs -C supervisord -u root -w 1 -c 1
command[check_procs_mongod]=/usr/lib/nagios/plugins/check_procs -C mongod -u mongodb -w 1:1 -c 1:1
command[check_procs_mhn_geoloc]=/usr/lib/nagios/plugins/check_procs -C python -a geoloc.py -u root -w 1 -c 1
command[check_procs_mhn_honeymap]=/usr/lib/nagios/plugins/check_procs -C server -u root -w 1 -c 1
command[check_procs_mhn_feedbroker]=/usr/lib/nagios/plugins/check_procs -C python -a feedbroker.py -u root -w 1 -c 1
command[check_procs_mhn_celery_beat]=/usr/lib/nagios/plugins/check_procs -C "celery beat" -w 1 -c 1
command[check_procs_mhn_celery_worker]=/usr/lib/nagios/plugins/check_procs -C "celery worker" -w 1 -c 1
command[check_procs_mhn_collector]=/usr/lib/nagios/plugins/check_procs -C python -a collector_v2.py -u {{ mhn_user }} -w 1 -c 1
command[check_procs_mhn_uwsgi]=/usr/lib/nagios/plugins/check_procs -C uwsgi -u {{ mhn_user }} -w 1 -c 1
command[check_procs_mhn_mnemosyne]=/usr/lib/nagios/plugins/check_procs -C python -a runner.py -u root -w 1 -c 1
command[check_mhn_errors]=/usr/lib/nagios/plugins/check_log -F /var/log/mhn/mhn-collector.log -O /var/tmp/mhn-collector.tmp -q 'ERROR'
command[check_var_lib_mongodb]=/usr/lib/nagios/plugins/count_file.pl -d /var/lib/mongodb -w 30:300 -c 10:500 -x 800000 -s 1500000

